{% extends 'base.html.twig' %}

{% block title %}Inscription - Entreprises{% endblock %}

{% block body %}

<div class="container centHeight">
    <div class="row centHeight justify-content-center align-items-center">
        <div class="col-12">
            <h2>Champs à remplir pour <span style="color:green;">l'inscription</span></h2>
            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.confirm_password, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre mot de passe'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.CP, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.Ville, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.tel, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.portfolio, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.avatar, {'attr': {'class': 'form-control upload', 'placeholder': 'Cliquez ici pour upload une image..'}}) }}
                </div>

                <button type="submit" class="btn btn-success">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>

{% endblock %}