{% extends 'base.html.twig' %}

{% block title %}Admin - Entreprises{% endblock %}

{% block body %}
    <div class="container cent">
    <div class="row cent justify-content-center align-items-center">
        <div class="col-12">
{% if not app.user %} 

    <h2>Vous n'avez pas les droits</h2>
    <a href=" {{ path('security_login') }} "><button class="btn btn-primary">Connexion</button></a>

{% else %}


    <h1 id="table">Liste des entreprises enregistré:</h1>

    <h2 class="text-info">Faire une Recherche:</h2>
    {{ form_start(searchForm) }}
    <div class="form-group">
        {{ form_row(searchForm.nom, {'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
        {{ form_row(searchForm.ville, {'attr': {'class': 'form-control'}})}}
    </div>
    <button class="btn btn-info">Rechercher</button>
    {{ form_end(searchForm) }}
    
    <table class="table table-striped table-responsive-lg" >
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">nom</th>
            <th scope="col">Ville</th>
            <th scope="col">Website</th>
            </tr>
        </thead>
        <tbody>
            {% if entrepriseFind|length > 0 %}
                {% for entreprise in entrepriseFind %}
                    <tr>  
                    <th scope="row">{{ entreprise.id }}</th>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.ville }}</td>
                    <td><a href="{{ entreprise.website }}"><button class="btn btn-primary">Voir le site</button></a></td>
                    <td><a href="{{path('admin_upEntreprises', {'id' : entreprise.id})}}"><button class="btn btn-warning">Modifier</button></a></td>
                    <td><a href="{{path('admin_deleteE', {'id' : entreprise.id})}}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% else %}

                    <tr>
                        <td> Aucune entreprises n'est enregistré dans la base de donnée</td>
                    </tr>

                {% endfor %}
            {% else %}
                {% for entreprise in entreprises %}
                    <tr>  
                    <th scope="row">{{ entreprise.id }}</th>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.ville }}</td>
                    <td><a href="{{ entreprise.website }}"><button class="btn btn-primary">Voir le site</button></a></td>
                    <td><a href="{{path('admin_upEntreprises', {'id' : entreprise.id})}}"><button class="btn btn-warning">Modifier</button></a></td>
                    <td><a href="{{path('admin_deleteE', {'id' : entreprise.id})}}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% else %}

                    <tr>
                        <td> Aucune entreprises n'est enregistré dans la base de donnée</td>
                    </tr>

                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endif %} 
        </div>
    </div>
</div>
{% endblock %}