{% extends 'base.html.twig' %}

{% block title %} Update - Candidature {% endblock %}

{% block body %}
{% if not app.user %} 

    <h2>Vous n'avez pas les droits</h2>
    <a href=" {{ path('security_login') }} "><button class="btn btn-primary">Connexion</button></a>

{% else %}
<div class="container cent">
    <div class="row cent justify-content-center align-items-center">
        <div class="col-12">
            <h2>Bonjour <span style="color:green;">{{ app.user.prenom }}  {{ app.user.nom }}</span></h2>
            {{ form_start(upCandidatureForm) }}
                <div class="form-group">
                    {{ form_row(upCandidatureForm.entreprise, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(upCandidatureForm.status, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(upCandidatureForm.meetingDate, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(upCandidatureForm.relanceDate, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(upCandidatureForm.requestDate, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-warning">Mettre à jour</button>
            {{ form_end(upCandidatureForm) }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}